body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #777;
}
#frame {
  position: absolute;
  top: 8px;
  left: 8px;
  bottom: 8px;
  right: 8px;
  border-radius: 8px 8px 8px 8px;
  background-color: #fff;
}
control {
  position: absolute;
  top: 90px;
  right: 15px;
}
#control {
  width: 200px;
  height: 500px;
  border-radius: 8px 8px 8px 8px;
  background-color: #ddd;
}
screen {
  display: block;
}
