<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Opendap Viewer</a>
    </div>
    <form class="navbar-form navbar-right">
      <button class="btn btn-default" ng-click="main.toggleShowControl()">Control</button>
    </form>
  </div>
</nav>
<screen style="width: 500px; height: 500px;"></screen>
<control ng-show="main.showControl"></control>
<dataset-control objects="main.objects"></dataset-control>
<object-control objects="main.objects"></object-control>
