<div class="modal-header">
  <h3 class="modal-title">Input range</h3>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <label>From</label>
      <select class="form-control" ng-model="queryCtl.from" ng-options="value for value in queryCtl.values"></select>
    </div>
    <div class="form-group">
      <label>To</label>
      <select class="form-control" ng-model="queryCtl.to" ng-options="value for value in queryCtl.values"></select>
    </div>
    <div class="form-group">
      <label>Step</label>
      <input type="number" min="1" step="1" class="form-control" ng-model="queryCtl.step">
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="queryCtl.ok()">OK</button>
  <button class="btn btn-warning" ng-click="queryCtl.cancel()">Cancel</button>
</div>
