<div class="control-container" data-drag="true" jqyoui-draggable>
  <div class="control-header">
    <span class="title">Control</span>
    <button type="button" class="close" ng-click="main.toggleShowControl()">
      <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    </button>
  </div>
  <div class="control-contents">
    <div class="container-fluid" style="padding-top: 15px; padding-bottom: 15px;">
        <tabset justified="true">
          <tab heading="Dataset">
            <dataset-control></dataset-control>
          </tab>
          <tab heading="Camera">
            <camera-control></camera-control>
          </tab>
          <tab heading="Object">
            <object-control></object-control>
          </tab>
        </tabset>
    </div>
  </div>
</div>
