<div class="control-container" data-drag="true" jqyoui-draggable>
  <div class="control-header">
    <span class="title">Object Control</span>
    <button type="button" class="close">
      <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
    </button>
  </div>
  <div class="control-contents">
    <div class="container-fluid" style="padding-top: 15px; padding-bottom: 15px;">
      <form>
        <div class="checkbox" ng-repeat="object in objectCtl.objects">
          <label>
            <input type="checkbox" ng-model="object.show" ng-change="objectCtl.toggle(object)"> {{object.name}}
          </label>
        </div>
      </form>
    </div>
  </div>
</div>
