<div>
  <form>
    <div class="form-group">
      <label>Lat from</label>
      <input class="form-control" type="number" min="-90" max="90" ng-model="cameraCtl.latFrom"/>
    </div>
    <div class="form-group">
      <label>Lat to</label>
      <input class="form-control" type="number" min="-90" max="90" ng-model="cameraCtl.latTo"/>
    </div>
    <div class="form-group">
      <label>Lon from</label>
      <input class="form-control" type="number" min="-180" max="180" ng-model="cameraCtl.lonFrom"/>
    </div>
    <div class="form-group">
      <label>Lon to</label>
      <input class="form-control" type="number" min="-180" max="180" ng-model="cameraCtl.lonTo"/>
    </div>
  </form>
</div>
